body{
	font-family: proxima-nova-1, sans-serif;
}
.text-center{
	text-align: center;
}
.center{
	margin: 0 auto;
}
.banner{
	width: 100%;
	background: #21172C url(../img/bg-banner.jpg) center top repeat-x;
	background-attachment: fixed;
	background-size: cover;
	min-height: 430px;
	margin-top: 30px;
}

.banner p{
	color: #ec6037;
	font-size: 20px;
	line-height: 30px;
	font-weight: 200;
	margin-top: 50px;
}

.logo{
	text-align: center;
}

.logo h1{
	color: #FBF2C1;
	font-size: 90px;
	margin-top: 50px;
	line-height: 90px;
	font-weight: 600;
	letter-spacing: 2px;
}

.logo h2{
	color: #FBF2C1;
	font-size: 70px;
	margin: 20px 0 50px 0;
	line-height: 30px;
	font-weight: 200;
	letter-spacing: -3px;
}

.logo-interno{
	margin-top: 20px;
	text-align: center;
}

.header-interno{
	min-height: 50px;
	background: #21172C;
	padding: 10px 0 20px;
	margin-bottom: 50px;
	border-bottom: 2px solid #000;
}

h2{
	font-size: 50px;
	color: #DDDDDD;
	text-align: center;
	line-height: 60px;
}

h3{
	font-size: 18px;
	color: #faac3b;
	text-align: center;
	line-height: 25px;
}

.logo p{
	font-size: 22px;
	color: #DDDDDD;
	margin-bottom: 50px;
}

.logo-interno{
	margin-top: 20px;
	margin-bottom: 20px;
}

.cta{
	width: 100%;
	background-color: #21172C;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.btn-success{
	line-height: 40px;
}

.mvp-pontos{
	text-align: center;
}

section{
	min-height: 400px;
	padding: 50px 0 50px 0;
}

#wood{
	background: url(../img/paper.jpg);
}

#wood h2{
	color: #836d9f;
}


.clara{
	background-color: #21172C;
}


#dark{
	background: url(../img/dark.png);
}

#dark p{
	text-align: center;
	color: #836d9f;
}

.img-circle{
	border: 1px solid #666;
}

.answer{
  border: 1px solid #ccc;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 6px rgba(88,77,55,0.4);
  background-color: white;
  padding: 30px;
  margin-bottom: 100px;
}

.answer h2{
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 10px 0;
	text-align: left;
	color: black;
}

h2.titside {
	font-size: 18px;
	padding: 0;
	text-align: left;
}

.titlebar{
  display: block;
  margin: -30px 0 20px -30px;
  padding: 15px 0 10px 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #F9F9F9;
  color: #999;
  font-size: 14px;
}

.tibarside{
	font-size: 16px;
	color: black;
}

ul.side li a {
	background: url(../img/stars.png) no-repeat left center;	
	color: white;
	text-decoration: none;
	list-style: none;
	padding: 10px 0 10px 20px;
}

ul.side li a:hover {
	text-decoration: none;
}

ul.side li {
	list-style: none;
	padding: 10px 0 10px 0;
}

blockquote{
	color: white;
	text-align: center;
	margin-top: 50px;
}

.steps{
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}
.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
  top: -25%;
}
.modal.fade.in {
  top: 10%;
}
.modal-header {
  padding: 12px 15px;
  border-bottom: 1px solid #eee;
}
.modal-header .close {
  margin-top: 2px;
}
.modal-header h3 {
  margin: 0;
  line-height: 30px;
}
.modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-form{
	width: 570px;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 50px;
	background: white url(../img/bg-form.png) no-repeat;
}

.logo-form{
	margin-top: 20px;
	display: block;
	text-align: center;
}

.topo-form{
	min-height: 300px;
}

.contato{
	background: url(../img/dark.png);
}

p.footer{
	color: white;
	text-align: center;
}